<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>微信支付</title>
    <!--<link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weui/2.1.3/style/weui.min.css" />
    <!--<link th:href="${domain}+'/wechat/example.css'" rel="stylesheet">-->
</head>
<style>

    .title1 {
        font-family: PingFangSC-Regular;
        font-size: 15px;
        color: #333333;
        letter-spacing: 0;
        line-height: 15px;
    }

    .title2 {
        font-family: PingFangSC-Medium;
        font-size: 35px;
        color: #000000;
        letter-spacing: 0;
        line-height: 35px;
    }
</style>
<body style="background-color: white"  onload="f()">
<input type="hidden" name="appOrderNo" th:value="${appOrderNo}" id="appOrderNo"/>
<input type="hidden" name="orderId" th:value="${orderId}" id="orderId"/>
<input type="hidden" name="cancelUrl" th:value="${cancelUrl}" id="cancelUrl"/>
<input type="hidden" name="backUrl" th:value="${backUrl}" id="backUrl"/>
<input type="hidden" name="successUrl" th:value="${successUrl}" id="successUrl"/>
<input type="hidden" name="mwebUrl" th:value="${mwebUrl}" id="mwebUrl"/>
<input type="hidden" name="autoCommit" th:value="${autoCommit}" id="autoCommit"/>

<div class="container">
    <div class="page__hd">
                    <span style="text-align: center">
                        <div style="margin-top: 35pt;text-align: center ;" class="title1">
                            订单金额
                        </div>
                        <div style="font-weight:bold ;margin-top: 5pt;text-align:center ;" class="title2"
                             th:text="'￥'+${orderFeeY}">
                            ￥0.03
                        </div>
                    </span>
        <!--<h2>订单金额 <h1 th:text="'￥'+${orderFeeY}+'元'">￥0.01元</h1></h2>-->

    </div>
    <div class="page__bd" style="margin-top: 35pt">
        <div class="weui-cells">
            <div class="weui-cell" style="padding: 14px 28px;">
                <div class="weui-cell__bd">
                    <p style="color: #666666">订单号</p>
                </div>
                <div class="weui-cell__ft">
                    <p style="color: #000000" th:text="${appOrderNo}"></p>
                </div>
            </div>

            <div class="weui-cell" style="padding: 14px 28px;">
                <div class="weui-cell__bd">
                    <p style="color: #666666">支付订单号</p>
                </div>
                <div class="weui-cell__ft">
                    <p style="color: #000000" th:text="${orderId}"></p>
                </div>
            </div>

            <div class="weui-cell" style="padding: 14px 28px;">
                <div class="weui-cell__bd">
                    <p style="color: #666666">商品名称</p>
                </div>
                <div class="weui-cell__ft">
                    <p style="color: #000000" th:text="${subject}"></p>
                </div>
            </div>

            <div th:if="${not #strings.isEmpty(descp)}" class="weui-cell" style="padding: 14px 28px;">
                <div class="weui-cell__bd">
                    <p style="color: #666666">商品描述</p>
                </div>
                <div class="weui-cell__ft">
                    <p style="color: #000000" th:text="${descp}"></p>
                </div>
            </div>
        </div>

    </div>
    <div class="page__ft" style="margin-top: 20pt;padding: 10px 24px;">
        <input type="button" class="weui-btn weui-btn_primary" onclick="callPay()" value="确认支付">
    </div>

</div>

</body>

<script type="text/javascript">

    var back = false;

 function callPay(){
     var mwebUrl= document.getElementById("mwebUrl").value;
     window.location.href=mwebUrl
 }

    function f() {
        var backUrl = document.getElementById("backUrl").value;

        if (backUrl.length > 0) {
            history.pushState({}, "title 1", "#");
            // window.history.pushState(state, "title", "#");
            window.onpopstate = function (event) {
                location.href = backUrl;
            };
        }
        setTimeout(function () {
            back = true;
        }, 1000);

        var autocommit = document.getElementById("autoCommit").value;
        if(autocommit=="0"){
            callPay();
        }
    }






</script>
</html>