<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gotoil.unipay.model.mapper.ext.CommonExtMapper">
    <insert id="insertBatch" parameterType="cn.gotoil.unipay.utils.SqlUtil.BatchEntity">
        insert into ${table}(${colName})
        values
        <foreach collection="values" item="item" index="index"
                 separator=",">
            (${valuesName})
        </foreach>
    </insert>

</mapper>